<!DOCTYPE html>
<html class="h100">
  <head>
    <%- include("./layout/head.ejs") %>
  </head>
  <body class="h100 <%= ('undefined' != typeof process.global && 'undefined' != typeof process.THEME_LIST)?process.THEME_LIST[process.global.theme]:'theme-2' %>">
   <div class="mini-box flex flex-v">
    <form class="signform" method="post" action="/server/login" onsubmit="return form_submit(this);">
     <div class="sign-title theme-color-light"><%= process.global.server_name %></div>
     <div class="list">
       <label>Your Username 用户名 </label>
       <input type="text" name="name" class="item theme-input">
     </div>
     <div class="list">
       <label>And Your Password 密码</label>
       <input type="password" name="password" class="item theme-input">
     </div>
     <button type="submit" class="sign-btn theme-btn">登录</button>
     <div class="sign-redirct">
      <!-- <div class="sign-tip">前台地址:<a href="http://grape.kolafim.com" target="_blank">http://grape.kolafim.com</a></div> -->
     </div>
    </form>
   </div>
  <!-- <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script> -->
  <script>

    var form_submit = function (e){
      sign(e);
      return false;
    }
    let sign = async function(e){
      // await Sync.sleep(1000);

      // let req = await post.sync(e.action,$(e).serializeArray());
      let req = await Sync.post(e.action,e)
      console.log('req:',req);
      if(req && req.code == 200){
        alert(req.msg);
        location.replace("/server/home");
      }else{
        alert(req.msg);
      }
      console.log("req end!");
    }

    // function post(url,data,s,f){
    //   $.ajax({
    //     type:'POST',
    //     url:url,
    //     data:data,
    //     dataType:'json',
    //     success(data){
    //       s(data)
    //     },
    //     error(e){
    //       // f(e);
    //       s(e.responseJSON);
    //     }
    //   })
    // }
  </script>
  </body>
</html>
