<!DOCTYPE html>
<html class="h100">
  <head>
    <%- include("./layout/head.ejs") %>
  </head>
  <body class="h100 <%= ('undefined' != typeof process.global && 'undefined' != typeof process.THEME_LIST)?process.THEME_LIST[process.global.theme]:'theme-2' %>">
   <div class="mini-box flex flex-v">
    <form class="signform" method="post" action="/server/login" onsubmit="return form_submit(this);">
     <div class="sign-title">Sinn <span> 小客栈 </span> 后台</h2></div>
     <div class="list">
       <label>Your Username 用户名 </label>
       <input type="text" name="name" class="item">
     </div>
     <div class="list">
       <label>And Your Password 密码</label>
       <input type="password" name="password" class="item">
     </div>
     <button type="submit" class="sign-btn">登录</button>
     <div class="sign-redirct">
      <div class="sign-tip">前台地址:<a href="http://sinn.boyagirl.com" target="_blank">http://sinn.boyagirl.com</a></div>
     </div>
    </form>
   </div>
  <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/js/sign.js"></script>
  <script>
    // $("form.signform")
    function form_submit(e){
      // console.log(e.action);
      $.ajax({
        type:'POST',
        url:e.action,
        data:$(e).serializeArray(),
        dataType:'json',
        success(data){
          console.log(data);
          alert(data.msg);
          location.replace("/server/home");
        },
        error(e){
          // console.warn(e);
          if(e.status < 500 && e.responseJSON && e.responseJSON.msg){
            alert(e.responseJSON.msg);
          }else if(e.status != 302){
            alert("请求服务器出错");
          }
        }
      })
      return false;
    }
  </script>
  </body>
</html>
