@import 'theme.css';
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, pre {margin:0;}
ol, ul, td {margin:0; padding:0;}
body, pre {font-size: 14px;font-family: "Lucida Grande",-apple-system-font,"Helvetica Neue","PingFang SC","Microsoft YaHei",sans-serif;}
html, body {height:100%}
ul, li {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
a {outline:none;text-decoration:none;color:#333;-webkit-tap-highlight-color: transparent;}
* {box-sizing: border-box;}
pre, .pre { white-space: pre-wrap;}
input, textarea, keygen, select, button {font-family: inherit;font-size: inherit;outline:none;}
h1,h2,h3,h4,h5 {font-weight: 400}

.fantasy {font-family: fantasy,"Lucida Grande",-apple-system-font,"Helvetica Neue","PingFang SC","Microsoft YaHei",sans-serif;}

.nav-box {
  width:100%;
  height:60px;
  position: relative;
}
.nav-box .nav-left {
  float: left;
  width:200px;
  height:100%;
  text-align: center;
  line-height: 60px;
  color:#fff;
  font-size: 18px;
}
.nav-box .nav-left span {
  color:#f66;
}
.nav-box .nav-content a {
  width:90px;
  float: left;
  color: #fff;
  text-align: center;
  line-height: 60px;
}
.nav-box .nav-content a.on {
	background-color: rgba(255,255,255,.1)
}

.nav-box .nav-right {
  float: right;
  height:100%;
  padding-right:20px;
}
.nav-box .nav-right a {
  float: left;
  line-height: 60px;
  color:#fff;
  padding:0px 20px;
}

/*
* 侧边栏
*/
.sidebar {
 width:100%;
}
.sidebar .menu-box {
  width:90%;
  height:100%;
  margin:0px auto;
  padding-top: 20px;
}
.sidebar .menu-box a {
  width:100%;
  color:#999;
  padding:20px 0px;
  text-align: center;
  display: block;
}

.tips {
  width:100%;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}

/*
* 内容区
*/
.container {
  padding:30px;
}
.container .c-top {
	margin-bottom: 30px;
}
.container .main-box {
  height: 100%;
  border: 1px solid #999;
}

#tcateform,#acateform,#tcateeditor,#acateeditor,.createform{
  width:360px;
  min-height:190px;
  position: fixed;
  top:50%;
  left:50%;
  z-index: 999;
  background: #fff;
  /*margin-left: -180px;*/
  /*margin-top: -200px;*/
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.3);
}

.cateform .form-box{
  width:100%;
  height:100%;
  min-height: 190px;
  position: relative;
}
.cateform .form-box .title{
  width:100%;
  margin:0px auto;
	padding:1.4em 12px;
  line-height: 1em;
  /*border-bottom: 1px solid #eee;*/
  color:#fff;
	font-size: 16px
}
.cateform .form-box .list{
  width:85%;
  margin:20px auto;
  color:#999;
  font-size: 14px;
  padding-top: 6px;
}
.cateform .form-box .list label {
  width:100%;
  padding-top: 12px;
  margin:12px 0px;
}
.cateform .form-box .list input {
  width:100%;
  /*height:25px;*/
  margin:6px auto;
  display: block;
  outline: none;
  /*border:none;*/
  font-size: 15px;
  /*border-bottom: 1px solid #eee;*/
}
.cateform .form-box .list select {
  width:80px;
  height:36px;
  background: #fff;
  outline: none;
  border: 1px solid #eee;
}

.cateform .form-box .option {
  width:80%;
  margin:10px auto;
  text-align: center;
  bottom: 0px;
}
.cateform .form-box .option .btn {
  margin:5px;
	width: 80px;
  line-height: 30px;
}
.cateform .form-box .option .theme-bg-color {
	color:#fff;
}

.mini-box {
  width:100%;
  height:100%;
}
.mini-box .signform {
   width:280px;
   height:auto;
   min-height: 300px;
   margin:0 auto 16%;
}
.mini-box .signform .list {
	width:100%;
	position: relative;
	margin:20px 0px;
}
.mini-box .signform .list label {
	width: 100%;
	font-size: 13px;
	color: #666;
	display: block;
	margin:10px auto;
}
.mini-box .signform .list input {
    width: 100%;
    font-size: 15px;
}
.mini-box .signform .sign-title{
   width:100%;
   line-height: 30px;
   text-align: center;
   font-size: 18px;
}
.mini-box .signform .sign-title span {
  color:#5BC98A;
}
.mini-box .signform .sign-redirct {
  width:100%;
  text-align: center;
  color:#999;
}
.mini-box .signform .sign-redirct .sign-tip {
  width:90%;
  margin:20px auto;
  text-align: center;
}
.sign-btn {
  width:100%;
  height:40px;
  border:0;
  color: #fff;
  font-size: 16px;
  cursor:pointer;
  outline: none;
  border-radius: 4px;
  margin:0px auto;
}

.footer {
  width:100%;
  height:60px;
}
.footer .main {
	position: fixed;
	right: 0;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #f9f9f9;
	width:100%;
  width:calc(100% - 200px);
	height:60px;
  font-size: 14px;
}

.page-main-table {
	min-height: 100%;
}
.page-main-left {
	width:200px;
	vertical-align: top;
	background-color: #f9f9f9;
}
.page-main-right {
	position:relative;
	vertical-align: top;
}

.page-box {
  margin-top:30px;
}
.page-box p span, .page-box p a {
  display: inline-block;
  vertical-align: middle;
}
.page-box p span {
  min-width: 20px;
}
.page-box .des {
  color:#bbb;
  margin-right:10px;
}
