<div class="footer">
  <div class="main theme-gray-3">
    <div class="h100 flex-line flex">
      <div>
        <span><%= process.global.server_name %></span>
        <a href="https://github.com/Kolafim" target="_blank">Kolafim Github</a>
      </div>
    </div>
  </div>
</div>
