<title><%= process.global.server_name %></title>
<link rel='stylesheet' href='/styles/common.css' />
<link rel='stylesheet' href='/styles/style.css' />
<script type="text/javascript" src="/js/Sync.js"></script>
